body {
    margin: 0;
}
nav {
    background-color: #06112F;
    display: flex;
    justify-content: space-around;
}

.link {
    color: white;
    text-decoration: none;
}

#menu {
    width: 980px;
    height: 27px;
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

#myImage {
    margin-top: 22px;
    margin-bottom: 20px;
}